.car-card {
    border: 1px solid;
    padding: 10px;
    /* width: 210px; */
  }

.car-img {
    display: block;
    /* width: 200px; */
    height: 150px;
  }

.car-card-select-btn {
  display: block;
  width: 100%;
  height: 30px;
}